@using Microsoft.AspNetCore.Components.Web
@using ApexCharts
@using FruitSysWeb.Components.Charts

<div class="d-flex justify-content-end gap-2 mb-4">
    <button class="btn btn-success" @onclick="OnExportExcelClick" disabled="@(!HasData)">
        <i class="bi bi-file-earmark-excel me-2"></i>Preuzmi Excel
    </button>
    <button class="btn btn-danger" @onclick="OnExportPdfClick" disabled="@(!HasData)">
        <i class="bi bi-file-earmark-pdf me-2"></i>Preuzmi PDF
    </button>
</div>

@code {
    [Parameter] public bool HasData { get; set; }
    [Parameter] public EventCallback OnExportExcel { get; set; }
    [Parameter] public EventCallback OnExportPdf { get; set; }

    private async Task OnExportExcelClick()
    {
        await OnExportExcel.InvokeAsync();
    }

    private async Task OnExportPdfClick()
    {
        await OnExportPdf.InvokeAsync();
    }
}