@using Microsoft.AspNetCore.Components.Web
@using ApexCharts
@using FruitSysWeb.Components.Charts
@using Blazor_ApexCharts
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">FruitSysWeb</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Početna</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/proizvodnja">Proizvodnja</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Početna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proizvodnja">
                <span class="bi bi-list-check" aria-hidden="true"></span> Proizvodnja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="finansije">
                <span class="bi bi-cash-coin" aria-hidden="true"></span> Finansije
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lager">
                <span class="bi bi-boxes" aria-hidden="true"></span> Lager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="izvjestaji">
                <span class="bi bi-clipboard-data" aria-hidden="true"></span> Izveštaji
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="charts-test">
                <span class="bi bi-bar-chart" aria-hidden="true"></span> Charts Test
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}