@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FruitSysWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Početna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proizvodnja">
                <span class="bi bi-list-check" aria-hidden="true"></span> Proizvodnja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="finansije">
                <span class="bi bi-cash-coin" aria-hidden="true"></span> Finansije
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lager">
                <span class="bi bi-boxes" aria-hidden="true"></span> Lager
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="izvjestaji">
                <span class="bi bi-clipboard-data" aria-hidden="true"></span> Izveštaji
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="charts-test">
                <span class="bi bi-bar-chart" aria-hidden="true"></span> Charts Test
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}